:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	overflow-x: hidden;
}

.disable-interactions {
	pointer-events: none; /* Desactiva interacciones */
	user-select: none;    /* Desactiva selección de texto */
  }

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(var(--black));
	line-height: 1.2;
}

h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

  .leg {
	@apply absolute h-[12px] w-[20px] border-t-2 border-white rounded-[60%_0_0_60%] z-[-1];
  }

@font-face {
	font-family: 'Halloween zombie';
	src: url('/fonts/zombie.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Halloween Werewolf';
	src: url('/fonts/werewolf.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Halloween Mummy';
	src: url('/fonts/mummy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Halloween skeleton';
	src: url('/fonts/skeleton.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Halloween ghost';
	src: url('/fonts/ghost.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Halloween spider';
	src: url('/fonts/spider.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Halloween vampire';
	src: url('/fonts/vampire.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Halloween pumpkin';
	src: url('/fonts/pumpkin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Halloween witch';
	src: url('/fonts/witch.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Halloween general';
	src: url('/fonts/general.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.bg-sidebar {
 box-shadow: -6px -6px 11px 0px rgba(0,0,0,0.75);
 background: rgba( 255, 255, 255, 0.05 );
 backdrop-filter: blur( 0px );
 -webkit-backdrop-filter: blur( 0px );
}

.bg-containerMedia {
 box-shadow: 7px 10px 35px 7px rgba(0,0,0,0.75);
 background: rgba( 255, 255, 255, 0 );
 -webkit-box-shadow: 7px 10px 35px 7px rgba(0,0,0,0.75);
 -moz-box-shadow: 7px 10px 35px 7px rgba(0,0,0,0.75);
 backdrop-filter: blur( 0.5px );
 -webkit-backdrop-filter: blur( 0.5px );
 border-radius: 4px;
}
.bg-titleGalery{
background: rgba(3, 3, 3, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
}
.borderScroll::-webkit-scrollbar {
    height: 8px; /* Adjust the height of the scrollbar */
  }
/* Personaliza el scrollbar para que no ocupe espacio */
.scrollbar-hidden::-webkit-scrollbar {
	height: 8px; /* Altura del scrollbar */
  }
  
  .scrollbar-hidden::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5); /* Color del thumb */
	border-radius: 4px; /* Bordes redondeados */
  }
  
  .scrollbar-hidden::-webkit-scrollbar-track {
	background: transparent; /* Fondo del track */
  }
  
  .scrollbar-hidden {
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Firefox */
	line-height: 0; /* Esto puede ayudar a eliminar el espacio extra */
  }

.imgLoad {
	max-width: 100%;
	height: 100%;
	object-fit: contain; /* o cover si deseas que la imagen se recorte para llenar */
  }

  .componente-container {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
  }
  
  .componente-container.fade-in {
	opacity: 1;
  }