---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ClouWidgetReact from "../components/reactUi/ClouWidgetReact";
import ContainerMedia from "../components/reactUi/ContinarMedia";
import { CldUploadWidget } from "astro-cloudinary";
import HeaderPresentation from "../components/reactUi/HeaderPresentation";
import LayoutApp from "../components/reactUi/LayoutApp";
import MainAction from "../components/reactUi/MainAction";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex h-screen">
    <LayoutApp client:load>
      <HeaderPresentation client:only="react" />
      <MainAction client:load>
        <CldUploadWidget
          class="w-full h-full"
          id="upload-widget"
          uploadPreset="upload-hackatoon-image"
          options={{
            cropping: true,
            croppingAspectRatio: 1.0,
            croppingShowDimensions: true,
            sources: ["local"],
            multiple: false,
            language: "es",
            text: {
              es: {
                local: {
                  dd_title_single: "Arrastra un nueva imagen",
                },
              },
            },
          }}
        >
          <ContainerMedia client:load />
        </CldUploadWidget>
      </MainAction>
    </LayoutApp>
  </body>
</html>
