---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ClouWidgetReact from "../components/reactUi/ClouWidgetReact";
import SideBar from "../components/reactUi/SideBar";
import ContainerMedia from "../components/reactUi/ContinarMedia";
import { CldUploadWidget } from "astro-cloudinary";
import HeaderPresentation from "../components/reactUi/HeaderPresentation";
import LayoutApp from "../components/reactUi/LayoutApp";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex h-screen">
    <LayoutApp client:only="react">
      <HeaderPresentation client:only="react" />
      <main class="flex-grow">
        <div class="flex justify-center items-center h-full">
          <CldUploadWidget
            class="border w-[100%] h-full max-h-[480px] p-8 relative"
            id="upload-widget"
            uploadPreset="upload-hackatoon-image"
            options={{
              cropping: true,
              croppingAspectRatio: 1.0, // Relación de aspecto 1:1 (cuadrado)
              croppingShowDimensions: true,
              sources: ["local"],
              multiple: false,
              language: "es",
              text: {
                es: {
                  local: {
                    dd_title_single: "Arrastra un nueva imagen",
                  },
                },
              },
            }}
          >
            <ContainerMedia client:load />
          </CldUploadWidget>
        </div>
        <ClouWidgetReact client:load />
      </main>
    </LayoutApp>
    <!-- Scripts externos -->
    <!-- <script src="https://unpkg.com/three@0.97.0/build/three.min.js" defer
    ></script>
    <script
      src="https://unpkg.com/three@0.97.0/examples/js/loaders/GLTFLoader.js"
      defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      defer></script>
    <script type="module" src="/src/scripts/model3D.js" defer></script> -->
  </body>
</html>
